.favorites {
    width: 1000000px;
    padding: 10px;
    border: 1px solid #ccc;
    justify-content: center;
    border-radius: 8px;
    background-color: #ffffff;
    margin-right: 10px;
  }
  
  

  .favorites-item {
    background: pink; 
    color: black; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; 
    text-align: center; 
    margin-bottom: 20px; 
  }
