  .header-movies {
    background-color: #333; /* Set background color */
    color: #fff; 
    padding: 10px; 
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase; /* Convert text to uppercase */
}
.header-small {
    background-color:rgb(225, 204, 228); /* Set background color */
    color: black; 
    padding: 1px; 
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}


  .button {
    background-color: lightcoral;
    border: none; /* Remove border */
    color: white; /* White text */
    padding: 5px 10px; 
    text-align: center; /* Center align text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make it inline-block */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor style */
    border-radius: 4px; /* Rounded corners */
    margin-left: 10px;
}

