  .header-movies {
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase; 
}
.header-small {
    background-color:rgb(225, 204, 228); 
    color: black; 
    padding: 1px; 
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}


  .button {
    background-color: lightcoral;
    border: none; 
    color: white; 
    padding: 5px 10px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 4px; 
    margin-left: 10px;
}

