.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: Helvetica, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header .text {
    font-size: 20px;
    font-weight: bold;
}

.header .underline {
    width: 50px;
    height: 4px;
    background-color: #333;
    margin: 10px auto 0;
}

/* Input styling */
.inputs {
    width: 300px;
    margin-bottom: 20px;
}

.input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.input img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.input input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
}

.forgot-password-container {
    margin-bottom: 20px;
}

.forgot-password-button {
    background-color: transparent;
    border: none;
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
}

.forgot-password-button:hover {
    color: #0056b3;
}

.submit-container {
    display: flex;
    justify-content: center;
    width: 300px;
}

.submit {
    width: 140px;
    padding: 10px 0;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.submit:hover {
    background-color: #0056b3;
}