/* MovieList.css */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px; 
}

.movie-item {
  flex: 1 1 calc(25% - 40px); 
  box-sizing: border-box; 
}

.movie-box {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #f0f9ff;
  transition: background-color 0.3s ease; 
  box-shadow: 10px 10px 5px pink;
}

.movie-box:hover {
  background-color: rgb(236, 180, 180); 
}

.movie-box h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #333;
}

.movie-box p {
  font-size: 1rem;
  color: #666;
}
  