.profile-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
   .profile-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
   .profile-page button {
    display: block;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
   .profile-page button:hover {
    background-color: #0056b3;
  }
   .profile-page ul {
    list-style-type: none;
    padding: 0;
  }
   .profile-page li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
 
  .add-movie {
    margin-top: 20px;
  }

  .add-movie input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .add-movie button {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4f9cc9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .add-movie button:hover {
    background-color: #267daf;
  }