.App {
  text-align: center;
}


.main-content {
  padding: 20px;
  overflow: auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header {
    background-color: lightblue;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
};

.App-link {
  color: white
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
}

.main-content {
  margin-left: 0;
  padding: 20px;
  width: 100%;
}

.toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.search-and-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.main-content-2 {
  margin-bottom: 15px; /* Add margin to create space below the header */

  width: 100%;
}

.header-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  padding: 10px 20px;
  color: black;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-size: 20px;
}